<div class="main-title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="top" class="title" height="22" width="98"><%= f.label :name, "標題" %></td>
      <td valign="middle" class="text">
        <%= f.text_field :name, :autocomplete =>"off" %>
      </td>
    </tr>
  </table>
</div>

<h5>
  <img src="/images/tag.png" width="16" height="16" />
  提示：將滑鼠移至段落內容，可進行拖曳排序。
</h5>

<div class="field">
  <%= f.label :content, :style =>"display:none;" %>
  <%= f.text_field :content, :style =>"display:none;" %>
  <%= f.text_field :newcreate, :value => "true", :style =>"display:none;" %>
  <!--show the content of article -->
  <div id="articleContent" class="sortable"></div>
</div>

<div id='error'></div>

<div class="button" id="btnSubmit">
  <a href="#">
    <img src="/images/save.png">儲存文章</a>
</div>

<%if(@news.newcreate)%>
<div class="button">
  <%= link_to image_tag("/images/cancel.png")+'取消發文', admin_news_path(@news), :method => :delete %>
</div>
<%end%>