<h1>sign_up</h1>

<%= form_for(@admin, :url => admin_createAdmin_path(@admin)) do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, :autocomplete => "off" %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.password_field :name, :autocomplete => "off" %>
  </div>
  <div class="actions">
    <%= f.submit "new admin" %>
  </div>
<% end %>
