<%= stylesheet_link_tag "application", :media => "all" %>
<%= stylesheet_link_tag "jquery.colorbox", :media => "all" %>
<div class="content_inside" >
   <div class="topArea" >
   		<div class="logo"><a href="/" title="梨山華新果園" target="_self"><img src="/images/logo.png" width="335" height="85" /></a></div>
    	<div class="inside_menu">
              <ul>
                      <li class="about"><a href="/intro" target="_self" title="果園簡介">果園簡介</a></li>
                      <li class="product"><a href="/product" target="_self">產品介紹</a>
                      	<ul>
                            	<a href="/product?openDiv=peach" title="水蜜桃"><li class="peach">水蜜桃</li></a>
                                <a href="/product?openDiv=pear" title="梨"><li class="pear">梨</li></a>
                                <a href="/product?openDiv=persimmon" title="甜柿"><li class="persimmon">甜柿</li></a>
                        </ul>  
                      </li>
                      <li class="buy"><a href="/orders" target="_self" title="線上訂購">線上訂購</a></li>
                      <li class="message"><a href="/questions" target="_self" title="留言板">留言板</a></li>
                  </ul>
            </div>  
   </div>
   <div class="contentArea">
   		<div class="farmer"><img src="/images/farmer.png" width="200" height="370" /></div>
	 <div class="newsBox">
        	<div class="back"><%= link_to '回上一頁', news_index_path %></div>
   	   <h1>最新消息：</h1>
            <div class="newsPoint"></div>
            <div class="newsList">
              <h1><%= @news.created_at.strftime("%Y/%m/%d") %>： <%= @news.name %></h1>
              <input id="news_content" style="display:none;" type="text" value="<%=@news.content%>">
              <div id="articleContent"></div>
            </div>
    </div>

<script type="text/javascript">
$(document).ready(function() {
  showContent(initColorbox);
  function showContent(callback){
    if($("#news_content").val())
    {
      var obj = JSON.parse($("#news_content").val());
      var article = "";
      for(i=0;i<obj.article.length;i++)
      {
        var paragraph = obj.article[i];

        if(JSON.stringify(paragraph.type)=='"paragraph"')
        {
          article = "<div class='paragraphContainer' data-type='paragraph'><p>"+jsonReplace(JSON.stringify(paragraph.content)).replace(/\\n/g, "<br />")+"</p>";
        }
        else if(JSON.stringify(paragraph.type)=='"image"')
        {
          article = "<div class='paragraphContainer' data-type='image' data-photo_id=\"" + paragraph.id + "\"><a class='shadowbox' href="+JSON.stringify(paragraph.path)+"><img alt=" + JSON.stringify(paragraph.id) + " src=" + JSON.stringify(paragraph.path) + " title=" + JSON.stringify(paragraph.id) + " /></a></div>";
        }
        else if (JSON.stringify(paragraph.type)=='"video"') {
          article = "<div  class='paragraphContainer' data-type='video' data-code=\"" + paragraph.code + "\"><iframe width=\"480\" height=\"290\" data-code=\"" + paragraph.code + "\" src=\"http://www.youtube.com/embed/" + paragraph.code+ "\" frameborder=\"0\" allowfullscreen></iframe></div>";
        }
        $("#articleContent").append(article);
      }

      callback();
    }
  }

  function jsonReplace(string){return string.replace(/"([^"]*)"/g, "$1");}

  function initColorbox(){
    $('a.shadowbox').colorbox({
      scalePhotos: true,
      maxWidth: "1000px",
      className: "normal",
      scrolling: false,
      returnFocus: false
    });
  }
  
});

</script>
