<!--top-out-->
<div id="container">
   <div class="editArea">
      <div id="side" class="left">
            <ul>
              <li><a href="/admin/questions" target="_self" id="message" class="active">留言管理</a></li>
              <li><a href="/admin/news" target="_self" id="news">最新消息</a></li>
              <li><a href="/admin/orderproducts" target="_self" id="product">商品管理</a></li>
              <li><a href="/admin/orders" id="order">訂單管理</a></li>
            </ul>
          </div>
      <!--side-->
      <div id="main" class="right">
        
        <div class="userArea">
        
        <div class="message_show">
            <div class="qArea">
                    <h3><%= @question.askerName %></h3>
                    <span> </span>
                    <p><%= simple_format(@question.content) %></p>
                    <h6><%= @question.created_at.strftime("%Y/%m/%d %H:%M") %></h6>
                </div>
            </div>
        </div>
        
        <%= render 'formAnswer' %>
        
        <%= link_to '回上一頁', '/admin' %>
        <!--main--> 
        </div>
      
   </div>
</div>
<!--container-->
<div id="footer"></div>
<!--footer-->

