<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>
    <%= @order.customername %>, 你的訂單內容</h1>
  <div>
    <% @order.orderitems.each do |orderitem| %>
    <p>
      <%= Orderproduct.find(orderitem.orderproduct_id).name%>: <%= orderitem.amount%>個
    </p>
    <% end %>
    <p>
      運費: <%= @order.shippingfee %>
      總金額: <%= @order.totalprice %>
    </p>
  </div>
  <div>
    匯款資訊：</br>
    銀行帳戶：0000000-000000000</br>
    戶名：周先生</br>
    匯款金額：$<%= @order.totalprice %></br>
    </br>
    謝謝！</br>
  </div>
</body>
</html>