<div id='error'></div>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :addDate, '上架日期' %><br />
    <%= f.text_field :addDate, :autocomplete => "off" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :autocomplete => "off" %>
  </div>
  <div class="field">
    <%= f.label :descript %><br />
    <%= f.text_area :descript, :style => "display:none;" %>

    <!--show the content of article -->
    <div id="articleContent" class="sortable"></div>
  
  </div>
  </div>
  <div class="field">
    <%= f.check_box :frontshow %><%= f.label '顯示在前台' %>
    
  </div>
  <div class="field">
    <% if(@product.image.path) %>
    <%= image_tag(@product.image) %>
    <%else%>
    <p>尚未上傳商品封面圖片</p>
    <% end %>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<%= link_to 'back', admin_productclass_path(params[:productclass_id]) %>


<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script>
  $(document).ready(function(){
    var form = "#edit_product_<%= params[:id]%>";


     $( "#product_addDate" ).datepicker();
     $( "#product_addDate" ).change(function(){
      $(this).datepicker("option", "dateFormat", "yy-mm-dd");
     });

     $(form).submit(function(){
      var submit = true;
      $("#error").html("");

      $("form input[type='text']").not("#product_addDate").each(function(){
        if(!$(this).val()){
          submit = false;
          $("#error").append("<p>" + $("label[for='"+$(this).attr('id')+"']").html() + "不能為空</p>");
        }
      });
      if(!$("textarea").val()){
        submit = false;
        $("#error").append("<p>" + $("label[for='"+$("textarea").attr('id')+"']").html() + "不能為空</p>");
      }
      return formvalidate() && submit;
    });

     function formvalidate(){
      //validate image upload
      var isPass = false; 
      var alert;

      var fileinput = document.getElementById('product_image');
      if(fileinput.files[0]){
        var typeAllowed = ["gif", "png", "jpg", "jpeg"];

        (function() {
          outerloop:
          for(var item in typeAllowed){
            if(fileinput.files[0].type.indexOf(typeAllowed[item]) != -1){
              isPass = true;
              break outerloop;
            }
          }
        })();

        alert = isPass? null : "<p>只能上傳 .gif, .png, .jpg 圖片檔</p>";

        if(fileinput.files[0].size > 2 * 1024 *1024){
          isPass = false;
          alert += "<p>檔案大小必須小於2MB</p>";
        }
        if(!isPass){
          $("#error").append(alert);
          $(fileinput).val(""); 
          return false;
        }
      }
      return true;
     }
   });
</script>