<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>
    <%= @question.askerName %>您好, 周先生已經回覆您在華新果園的留言</h1>
  <div>
    <h4>您的留言</h4>
    <h6><%= @question.created_at.strftime("%Y/%m/%d %H:%M") %></h6>
    <p><%= simple_format(@question.content) %></p>

    <hr />
    <h4>周先生的回覆</h4>
    <h6><%= @answer.created_at.strftime("%Y/%m/%d %H:%M") %></h6>
    <p><%= simple_format(@answer.content) %></p>
              
    </br>

    <p>謝謝您的意見及發問。</p>
  </div>
</body>
</html>