<p id="notice">
	<%= notice %></p>

<p>
	<% if(@product.image.path) %>
	<%= image_tag(@product.image) %>
	<%else%>
	<p>尚未上傳商品封面圖片</p>
	<% end %>
	<b>產品名稱:</b>
	<%= @product.name %></p>

<p>
	<b>產品描述:</b>
	<input id="product_descript" style="display:none;" type="text" value="<%=@product.descript%>">
  <div id="articleContent"></div>
</p>

<%= link_to 'Back', productclass_path(params[:productclass_id]) %>

<script>
$(document).ready(function() {
	showContent();
	function showContent(){
    if($("#product_descript").val())
    {
      var obj = jQuery.parseJSON($("#product_descript").val());
      var article = "";
      for(i=0;i<obj.article.length;i++)
      {
        var paragraph = obj.article[i];

        if(JSON.stringify(paragraph.type)=='"paragraph"')
        {
          article = "<div class='paragraphContainer' data-type='paragraph'><p>"+jsonReplace(JSON.stringify(paragraph.content)).replace(/\\n/g, "<br />")+"</p>";
        }
        else if(JSON.stringify(paragraph.type)=='"image"')
        {
          article = "<div class='paragraphContainer' data-type='image' data-photo_id=\"" + paragraph.id + "\"><img alt=" + JSON.stringify(paragraph.id) + " src=" + JSON.stringify(paragraph.path) + " title=" + JSON.stringify(paragraph.id) + " /></div>";
        }
        else if (JSON.stringify(paragraph.type)=='"video"') {
          article = "<div  class='paragraphContainer' data-type='video' data-code=\"" + paragraph.code + "\"><iframe width=\"480\" height=\"290\" data-code=\"" + paragraph.code + "\" src=\"http://www.youtube.com/embed/" + paragraph.code+ "\" frameborder=\"0\" allowfullscreen></iframe></div>";
        }
        $("#articleContent").append(article);
      }
    }
  }

  function jsonReplace(string){return string.replace(/"([^"]*)"/g, "$1");}
  
});

</script>