<!DOCTYPE html>
<html>
<head>
  <title>梨山華新果園</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "inside", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<meta name="keywords" content="果園,水果,梨山,水蜜桃,梨子,甜柿"/>
<meta name="description" content="想一嘗梨山水果農自產自銷，擁有充足日曬、高海拔特有的超甜水果嗎？不用親自跑一趟，現在網路下單就能擁有，立即訂購，讓華新果園把甜蜜蜜的甜柿、水蜜桃、雪梨…等水果送到你家。"/>
<link rel="SHORTCUT ICON" href="/images/favicon.ico"/>
<link rel="image_src" href="/images/thumbnail.jpg"/>
<meta property="og:title" content="梨山華新果園"/>
<meta property="og:description" content="想一嘗梨山水果農自產自銷，擁有充足日曬、高海拔特有的超甜水果嗎？不用親自跑一趟，現在網路下單就能擁有，立即訂購，讓華新果園把甜蜜蜜的甜柿、水蜜桃、雪梨…等水果送到你家。"/>
<meta property="og:site_name" content="梨山華新果園"/>
<meta property="og:image" content="/images/thumbnail.jpg"/>
<meta property="og:type" content="website"/>
<title>梨山華新果園</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39455707-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<%= yield %>

 <div class="copyright" itemtype="http://data-vocabulary.org/Organization"><img src="/images/logo_icon_s.jpg" width="51" height="34" align="absmiddle" /> <p class="hc" itemprop="name"><a href="/" target="_self" title="梨山華新果園">梨山華新果園</a></p> <div itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><div itemprop="region">台中市</div><div itemprop="locality">和平區梨山里</div><div itemprop="street-address">齡恩路19號之2</div></div>&nbsp; | <a href="/intro" target="_self" title="果園簡介">果園簡介</a> | <a href="/product" target="_self" title="產品介紹">產品介紹</a> | <a href="/orders" target="_self" title="線上訂購">線上訂購</a> | <a href="/questions" target="_self" title="留言板">留言板</a> |  <p><a href="http://www.summers.com.tw/" target="_blank" title="夏天廣告×當代網頁設計觀點">網頁設計 by 夏天廣告</a></p></div>
 </div>
</body>
</html>
